<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link href="~/Styles/cosmetic.css" rel="stylesheet"/>
    
    @*react-bootstrap*@
    <link href="~/Styles/r-bootstrap.css" rel="stylesheet" />
    
    @*toastr*@
    <link href="~/Styles/animate.min.css" rel="stylesheet" />
    <link href="~/Styles/toastr.min.css" rel="stylesheet" />

    @*<link href="~/Styles/bootstrap-pulse.css" rel="stylesheet"/>*@
</head>
<body>
    <div id="react-container"></div>

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTimeOffset.Now.Year.ToString() - Ral dva</p>
    </footer>

@RenderSection("scripts", false)
</body>
</html>