<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link href="~/Styles/cosmetic.css" rel="stylesheet"/>
    <link href="~/Styles/r-bootstrap.css" rel="stylesheet" />
    @*<link href="~/Styles/bootstrap-pulse.css" rel="stylesheet"/>*@
    @*<link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
</head>
<body>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTimeOffset.Now.Year.ToString() - Ral dva</p>
    </footer>
</div>
@RenderSection("scripts", false)
</body>
</html>